@tailwind base;
@tailwind components;
@tailwind utilities;



/* Basic styling for wallet connection */
/* .wallet-container {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    max-width: 400px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  h1 {
    color: #333;
  }
  
  p {
    color: #555;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .connected-info {
    font-size: 16px;
    margin-top: 20px;
  }
  
  .error-message {
    color: red;
  }
  
  .network-info {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
  }
   */